html, body {
    min-height: 100%;
}
body {
    padding: 0;
    margin: 0;
    background-color: rgb(75, 17, 129);
}
   
footer{
 background-color: rgb(75, 17, 129);
 color: rgb(240, 230, 240);
 
}
header{
    background-color: rgb(75, 17, 129);
    padding-top: 0;
}
h1{
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
   padding-left: 2rem;
}
.texto{
    text-align: center;
    padding-left: 2rem;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    text-align: center;
    padding-left: 2rem;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
li{
    padding-left: 2rem;
}
